Ensemble Learning is the science of using diff models(weak learners) and using each one of their understanding to get an overall result. 
For example-> Instead of asking only a single person for an opinion we tend to ask many people and then overall come to a conclusion.

1.Bagging (Bootstrap Aggregating): This method involves training multiple instances of the same algorithm on different subsets of the training data (often created through bootstrapping) and then averaging the predictions. Random Forest is a well-known example of bagging.

2.Boosting: In this method, models are trained sequentially, with each new model focusing on correcting the errors made by the previous ones. Popular boosting algorithms include AdaBoost, Gradient Boosting, and XGBoost.

3.Stacking: This technique involves training multiple models and then using another model, often called a "meta-learner," to combine their predictions. The meta-learner tries to learn the best way to combine the outputs of the base models.

4.Voting: This is a simpler method where multiple models are trained and their predictions are combined by voting. The final prediction is typically the one that receives the majority of votes (for classification) or the average prediction (for regression).

<h1>Random Forest</h1>

In [67]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [68]:
df=pd.read_csv('C:\\Users\\Dell\\Downloads\\archive (9)\\train_data.csv')

In [69]:
df

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,787,788,0,1,0.1000,0.056848,0,0,1,0.5,0,0,1,0,0,1,0
788,788,789,1,1,0.0125,0.040160,0,0,1,0.3,0,0,1,0,0,0,1
789,789,790,0,1,0.5750,0.154588,1,0,0,0.0,1,0,0,0,1,0,0
790,790,791,0,1,0.3500,0.015127,0,0,1,0.0,1,0,0,0,0,1,0
791,791,792,0,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1

In [70]:
df.shape

(792, 17)

In [71]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [72]:
df

,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,788,0,1,0.1000,0.056848,0,0,1,0.5,0,0,1,0,0,1,0
788,789,1,1,0.0125,0.040160,0,0,1,0.3,0,0,1,0,0,0,1
789,790,0,1,0.5750,0.154588,1,0,0,0.0,1,0,0,0,1,0,0
790,791,0,1,0.3500,0.015127,0,0,1,0.0,1,0,0,0,0,1,0
791,792,0,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1

In [73]:
df.isnull().sum()

PassengerId    0
Survived       0
Sex            0
Age            0
Fare           0
Pclass_1       0
Pclass_2       0
Pclass_3       0
Family_size    0
Title_1        0
Title_2        0
Title_3        0
Title_4        0
Emb_1          0
Emb_2          0
Emb_3          0
dtype: int64

In [74]:
X=df.drop('Survived',axis=1)
Y=df['Survived']

In [75]:
X

,PassengerId,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,1,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,2,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,3,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,4,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,5,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,788,1,0.1000,0.056848,0,0,1,0.5,0,0,1,0,0,1,0
788,789,1,0.0125,0.040160,0,0,1,0.3,0,0,1,0,0,0,1
789,790,1,0.5750,0.154588,1,0,0,0.0,1,0,0,0,1,0,0
790,791,1,0.3500,0.015127,0,0,1,0.0,1,0,0,0,0,1,0
791,792,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1

In [76]:
Y

0      0
1      1
2      1
3      1
4      0
      ..
787    0
788    1
789    0
790    0
791    0
Name: Survived, Length: 792, dtype: int64

In [77]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.75)

In [78]:
from sklearn.ensemble import RandomForestClassifier

In [79]:
rfc=RandomForestClassifier()

In [80]:
rfc.fit(X_train,Y_train)

RandomForestClassifier()

In [81]:
Y_pred=rfc.predict(X_test)

In [82]:
Y_pred

array([0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0],
      dtype=int64)

In [83]:
Y_test

89     0
486    1
125    1
727    1
446    1
      ..
50     0
105    0
711    0
464    0
510    1
Name: Survived, Length: 198, dtype: int64

In [84]:
from sklearn.metrics import classification_report

In [85]:
cr=classification_report(Y_test,Y_pred,output_dict=True)

In [86]:
cr=pd.DataFrame(cr).T

In [87]:
cr

              precision    recall  f1-score     support
0              0.844961  0.858268  0.851562  127.000000
1              0.739130  0.718310  0.728571   71.000000
accuracy       0.808081  0.808081  0.808081    0.808081
macro avg      0.792046  0.788289  0.790067  198.000000
weighted avg   0.807012  0.808081  0.807460  198.000000

In [88]:
from sklearn.metrics import roc_curve,auc

In [89]:
fpr,tpr,threshold=roc_curve(Y_test,Y_pred)

In [90]:
roc_auc=auc(fpr,tpr)

In [91]:
roc_auc

0.7882887878451813

<h1>ADABOOST (adapt to prev models mistakes)</h1>

Generate several models 
see first models misclassification. In next iteration inc the misclassified weights so that algorithm focuses more on misclassified data points.

GPT DEFINITION
Initial Model: AdaBoost starts by training a weak learner (often a decision stump) on the dataset.
<br>
Misclassification: After the first iteration, it identifies the misclassified samples.
<br>
Adjust Weights: The algorithm increases the weights of the misclassified data points (<b>and reduce weight of correct ones so that overall sum is same</b>) so that in the next iteration, the weak learner focuses more on these harder-to-classify points.
<br>
New Model: A new weak learner is trained with the adjusted weights, giving more attention to the previously misclassified points.
<br>
Repeat: This process is repeated for a specified number of iterations, with each subsequent learner trying to correct the errors of the previous ones.
<br>
Final Model: The final model is a weighted combination of all the weak learners.

In [92]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings 
warnings.filterwarnings('ignore')

In [93]:
df=pd.read_csv('C:\\Users\\Dell\\Downloads\\archive (10)\\income.csv')

In [94]:
df

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0
...,...,...,...,...,...,...,...
48837,39,215419,13,0,0,36,0
48838,64,321403,9,0,0,40,0
48839,38,374983,13,0,0,50,0
48840,44,83891,13,5455,0,40,0
48841,35,182148,13,0,0,60,1

In [95]:
X=df.iloc[:,:-1]

In [96]:
X

       age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
48837   39  215419             13             0             0              36
48838   64  321403              9             0             0              40
48839   38  374983             13             0             0              50
48840   44   83891             13          5455             0              40
48841   35  182148             13             0             0              60

[48842 rows x 6 columns]

In [97]:
Y=df.iloc[:,6]

In [98]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
48837    0
48838    0
48839    0
48840    0
48841    1
Name: income_level, Length: 48842, dtype: int64

In [99]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.20,random_state=1234)

In [100]:
ada=AdaBoostClassifier(n_estimators=100,learning_rate=1) #number of weak learners to train=n_estimators

In [101]:
ada.fit(X_train,Y_train)

AdaBoostClassifier(learning_rate=1, n_estimators=100)

In [102]:
Y_predcit=ada.predict(X_test)

In [103]:
Y_predcit

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [104]:
print('accuracy:', metrics.accuracy_score(Y_test,Y_predcit))

accuracy: 0.8363189681646023

Important aspects of adaboost

In [105]:
from sklearn.linear_model import LogisticRegression

In [106]:
logreg=LogisticRegression()

In [107]:
ada_new=AdaBoostClassifier(base_estimator=logreg,learning_rate=1) #we are saying instead of decision tree use logistic regression as base model

In [108]:
ada_new.fit(X_train,Y_train)

AdaBoostClassifier(base_estimator=LogisticRegression(), learning_rate=1)

In [109]:
Y_pred_new=ada_new.predict(X_test)

In [110]:
Y_pred_new

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [111]:
print(metrics.accuracy_score(Y_test,Y_pred_new))

0.794451837444979

<h1>Gradient Boosting</h1>

Learning happens by optimising the loss function.(By <u>Gradient</u> remember the loss function(as in gradient descent))

In [126]:
from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [113]:
df=pd.read_csv('C:\\Users\\Dell\\Downloads\\archive (11)\\HousingData.csv')

In [114]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [115]:
Y=df['MEDV']

In [116]:
Y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [117]:
df.isna().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [118]:
df=df.dropna()

In [119]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0

In [120]:

df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [121]:
X=df.drop('MEDV',axis=1)

In [122]:
Y=df['MEDV']

In [123]:
Y

0      24.0
1      21.6
2      34.7
3      33.4
5      28.7
       ...
499    17.5
500    16.8
502    20.6
503    23.9
504    22.0
Name: MEDV, Length: 394, dtype: float64

In [124]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48

In [132]:
X_train,X_test,Y_train,Y_test_gradient=train_test_split(X,Y,train_size=0.8)

In [127]:
gradientreg=GradientBoostingRegressor(max_depth=2,n_estimators=3,learning_rate=1)

In [128]:
gradientreg.fit(X_train,Y_train)

GradientBoostingRegressor(learning_rate=1, max_depth=2, n_estimators=3)

In [129]:
gradient_predict=gradientreg.predict(X_test)

In [130]:
gradient_predict

array([27.11374575, 33.63010228, 19.39873497, 22.40498755, 14.10993202,
       43.87914534, 27.11374575, 22.40498755, 14.10993202, 22.40498755,
       32.64375453, 19.39873497, 27.11374575, 14.10993202, 43.87914534,
       22.40498755, 14.10993202, 14.10993202, 43.87914534, 19.39873497,
       14.10993202, 17.11618459, 14.10993202, 17.11618459, 19.39873497,
       33.63010228, 22.40498755, 14.10993202, 19.39873497, 14.10993202,
       14.10993202, 22.40498755, 33.63010228, 14.10993202, 14.10993202,
       19.39873497, 24.10749317, 14.10993202, 22.40498755, 22.40498755,
       22.40498755, 22.40498755, 17.11618459, 43.87914534, 14.10993202,
       27.11374575, 19.39873497, 14.10993202, 19.39873497, 14.10993202,
       19.39873497, 19.39873497, 19.39873497, 22.40498755, 33.63010228,
       19.39873497, 14.10993202, 24.10749317, 14.10993202, 22.40498755,
       17.11618459, 27.11374575, 19.39873497, 19.39873497, 14.10993202,
       14.10993202, 22.40498755, 27.11374575, 14.10993202, 14.10993202,
       22.40498755, 14.10993202, 19.39873497, 19.39873497, 14.10993202,
       22.40498755, 22.40498755, 27.11374575, 14.10993202])

In [133]:
r2_score(gradient_predict,Y_test_gradient)

-0.8922947488867914

In [138]:
gradientreg.feature_importances_

array([0.02461501, 0.        , 0.        , 0.        , 0.        ,
       0.58094733, 0.        , 0.04409696, 0.        , 0.        ,
       0.03314314, 0.        , 0.31719756])

<h1>XGBoost</h1>

In [140]:
from numpy import loadtxt
from xgboost import XGBClassifier

In [141]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [143]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [146]:
df=pd.read_csv('C:\\Users\\Dell\\Downloads\\archive (12)\\diabetes.csv')

In [147]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [148]:
Y=df['Outcome']

In [149]:
X=df.drop('Outcome',axis=1)

In [150]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [151]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [152]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.20,random_state=1)

In [153]:
models=[]
models.append(('Logistic Regression', LogisticRegression()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('SVM', SVC()))
models.append(('XGB', XGBClassifier()))

In [154]:
import time

In [155]:
results=[]
names=[]
scoring='accuracy'

In [159]:
for name,model in models:
    model.fit(X_train,Y_train)

    Y_pred=model.predict(X_test)
    predictions=[round(value) for value in Y_pred]

    accuracy=accuracy_score(Y_test,predictions)
    print(f'Model {name} Accuracy {accuracy*100}')

Model Logistic Regression Accuracy 77.92207792207793
Model KNN Accuracy 73.37662337662337
Model SVM Accuracy 78.57142857142857
Model XGB Accuracy 75.32467532467533

Tuning XGB

In [165]:
models=[]
models.append(('Logistic Regression', LogisticRegression()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('SVM', SVC()))
models.append(('XGB', XGBClassifier(eta=0.01,gamma=10))) #gamma controls overfitting

results=[]
names=[]
scoring='accuracy'


for name,model in models:
    model.fit(X_train,Y_train)

    Y_pred=model.predict(X_test)
    predictions=[round(value) for value in Y_pred]

    accuracy=accuracy_score(Y_test,predictions)
    print(f'Model {name} Accuracy {accuracy*100}')

Model Logistic Regression Accuracy 77.92207792207793
Model KNN Accuracy 73.37662337662337
Model SVM Accuracy 78.57142857142857
Model XGB Accuracy 76.62337662337663